// Specific CSS for your home-page
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  background: #F4F4F4;
}
p {
  font-weight: lighter;
}
h1, h2 {
  font-family: sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  padding: 14px;
  grid-gap: 16px;
  max-width: 100px;
}

.card-horse .card-horse-infos {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.footer, svg {
  text-align: center;
}
