// Import page-specific CSS files here.
@import "home";

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  background: #F4F4F4;
}
p {
  font-weight: lighter;
  color: grey;
}

h1, h2 {
  font-family: sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #53161b
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
}

.cards-container {
  display: flex;
}

.cards-container #map {
  position: sticky;
  height: 100vh;
}


.card-horse img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.cards-ind {
  display: grid;
  grid-template-columns: 2fr 1fr;
  flex-grow: 1;
  padding: 14px;
  column-gap: 10px;
  row-gap: 15px;
}

.cards-overall {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  padding: 14px;
  column-gap: 10px;
  row-gap: 15px;
}


.card-horse {
  width: 400px;
}

.card-horse .card-horse-infos {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 10px;
  //justify-content: space-around;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.info {
  font-size: 11px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 10px;
  margin-left: 5px;
  line-height: normal;
}

#container-for-shared {
  margin-top: 90px;
}
