.wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;

  h2 {
    text-align: center;
  }

  img {
    width: 600px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
.wrap {
  margin-top: 50px;
}
#price-card{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 24px;
}
.edit {
  margin: 20px;
}
.btn-show {
  color: #4c4b4c;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
