<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 border mb-8">
    <h1>Edit horse information</h1>
    <h2><%= @horse.name %></h2>

    <p>Fill out the form to update your horse's information.</p>

    <%= render 'form', horse: @horse %>
      <div class="links-back-to">
        <p><%= link_to "Back to #{@horse.name}'s profile", @horse, class:"btn-nrm" %></p>
        <p><%= link_to "Back to all horses", horses_path, class:"btn-nrm" %></p>
      </div>
    </div>
  </div>
</div>
