<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 border">
      <h1>Put your horse on Marebnb</h1>
      <p>Please fill in all the details of your horse:</p>

      <%= render 'form', horse: @horse %>

     <p> <%= link_to "Cancel adding a horse to Marebnb", horses_path %> </p>
    </div>
  </div>
</div>
