<h1>User Dashboard</h1>
Welcome to the dashboard! <BR>
Here you can access or change your bookings, requests & horse profiles.<BR><BR>

<h2>Bookings</h2>
<p>Please confirm or decline any pending requests.</p>
