<h3>Owner Dashboard</h3>

Hi <%= current_user.first_name.capitalize %>, welcome to your dashboard! <BR>
Here you can access or change your bookings, open requests & horse profiles.<BR><BR>

<h3>Bookings</h3>
<p>Please confirm or decline any pending requests.</p>
