<h1>Owner Dashboard</h1>

Hi <%= current_user.first_name.capitalize %>, welcome to your dashboard! <BR>
Here you can access or change your bookings, open requests & horse profiles.<BR><BR>

<h2>Bookings</h2>
<p>Please confirm or decline any pending requests.</p>
