<h3>User Dashboard</h3>
Hi <%= current_user.first_name.capitalize %>, welcome to your user dashboard. <BR>
Here you'll find an overview of your bookings and see if the horse owner confirmed or declined. <BR><BR>
