<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fa-sharp fa-solid fa-horse"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  <div class="footer-copyright">
    <h5>Follow us at our social media channels</h5>
  </div>
</div>
