<div class="footer">
  <div class="footer-links">
    <a href="https://www.google.com/search?q=smiling+horse&source=lnms&tbm=isch&sa=X&ved=2ahUKEwic75yS0uL8AhVehf0HHU0KBngQ_AUoAXoECAEQAw&biw=638&bih=639&dpr=2"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fa-light fa-horse"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  <div class="footer-copyright">
    <h5>Follow us at our social media channels</h5>
  </div>
</div>
