
<div class="cards-container">
  <div class="card-horse">
    <img src="http://kitt.lewagon.com/placeholder/cities/shanghai" />
  <div class="card-horse-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
  </div>
   <div class="card-horse">
    <img src="http://kitt.lewagon.com/placeholder/cities/shanghai" />
  <div class="card-horse-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
  </div>
   <div class="card-horse">
    <img src="http://kitt.lewagon.com/placeholder/cities/shanghai" />
  <div class="card-horse-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
  </div>
   <div class="card-horse">
    <img src="http://kitt.lewagon.com/placeholder/cities/shanghai" />
  <div class="card-horse-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
  </div>
   <div class="card-horse">
    <img src="http://kitt.lewagon.com/placeholder/cities/shanghai" />
  <div class="card-horse-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
  </div>
   <div class="card-horse">
    <img src="http://kitt.lewagon.com/placeholder/cities/shanghai" />
  <div class="card-horse-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
  </div>
   <div class="card-horse">
    <img src="http://kitt.lewagon.com/placeholder/cities/rio" />
  <div class="card-horse-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
  </div>
   <div class="card-horse">
    <img src="http://kitt.lewagon.com/placeholder/cities/berlin" />
  <div class="card-horse-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
  </div>
  <div class="card-horse">
    <img src="http://kitt.lewagon.com/placeholder/cities/shanghai" />
  <div class="card-horse-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <h5>Follow us at our social media channels</h5>
  </div>
</div>
