// CSS FOR BOOKING DASHBOARD BUTTONS
.btn-booking {
  color: gray;
  border: 1px solid gray;
  margin-top: 10px;
  // padding: 8px 24px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
