// CSS FOR BOOKING DASHBOARD BUTTONS
.btn-booking {
  color: gray;
  border: 1px solid gray;
  margin-top: 10px;
  // padding: 8px 24px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-call {
  border: rgb(156, 48, 48);
  padding: 8px;
  background-color: rgb(156, 48, 48);
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
}

btn-call:hover {
  color: #000;
  transition: opacity 0.3s ease;
}

btn-nrm {
  color: #4c4b4c;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

btn-nrm:hover {
  color: rgb(156, 48, 48);
  transition: 0.3s ease;
}

.btn-mare-bnb {
  border: rgb(156, 48, 48);
  padding: 8px;
  background-color: rgb(156, 48, 48);
  color: white;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-left: 8px;

}
.btn-mare-bnb:hover {
  color: #53161B;
  transition: opacity 0.3s ease;
  border: 1px solid #53161B;
}
