// CSS FOR THE BOOKING DASHBOARD CARDS
.cards-booking {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  flex-grow: 1;
  padding: 0px;
  justify-content: space-between;
 }

.card-booking {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.card-booking img {
  height: 100%;
  width:  15em;
  object-fit: contain;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-booking p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
}

strong{
  font-weight:bold;
 }

.card-booking .card-booking-infos {
  padding: 16px;
}

.wrapper{
  display: flex;
  flex-direction: row;
}

#booking-horse {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 5px;
}
