// CSS FOR THE BOOKING DASHBOARD CARDS
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  flex-grow: 1;
  padding: 1em;
  /* justify-content: space-evenly; */
  /* border: 2x solid red; */
}

.card-booking {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.card-booking img {
  height: 100%;
  width:  15em;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-booking p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

// .card-booking .image {
//   padding: 0px;
//   margin: 0px;
// }

.card-booking .card-booking-infos {
  padding: 16px;
}

.wrapper{
  display: flex;
  /* flex-direction: row; */
}
